<h2>Users List</h2>
<div class="users-filter">
  <mat-form-field appearance="outline">
    <mat-label>Select order direction</mat-label>
    <mat-select [(value)]="orderDirection" (selectionChange)="filterUsers()">
      <mat-option value="0">No sorting</mat-option>
      <mat-option value="1">A to Z</mat-option>
      <mat-option value="-1">Z to A</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Enter User Name" [(ngModel)]="nameFilter" (keyup)="filterUsers()">
  </mat-form-field>
</div>

<mat-selection-list #users>
  <mat-list-option
    *ngFor="let user of usersList; let i = index"
    [ngClass]="{'grey': i%2}"
  >
    <div class="user">
      <span class="user-field">
        <span *ngIf="user.username.indexOf('_') == -1">{{user.username}}</span>
      </span>
      <span class="user-field">{{user.name}}</span>
      <span class="user-field" [ngClass]="{'primary': user.role=='Admin'}">{{user.role}}</span>
    </div>
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{users.selectedOptions.selected.length}}
</p>
