.user {
  width: 600px;
}
.user-field {
  width: 33%;
  display: inline-block;
}
.primary {
  font-weight: bold;
}
.grey {
  background-color: #eee;
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item {
    width: 150px;
  }
}
